<ion-view view-title="{{ 'mm.login.connecttomoodle' | translate }}">
  <ion-content padding="true" id="mm-login-site" mm-state-class class="mm-center-view">
    <form class="mm-view-content">
      <div class="box">
        <div class="text-center padding">
          <img ng-src="img/moodle.png" class="avatar-full  moodle-logo" role="presentation">
        </div>
        <p class="padding">"Wanna Be IT Preneur?"</p>
        <div class="list item item-input">
          
        </div>
          <button class="button button-block button-positive" ng-model="siteurl" ng-init="siteurl='elearning.top.co.id'" ng-click="connect(siteurl)" ng-disabled="!siteurl">"YES"</button>       
      </div>
    </form>
  </ion-content>
</ion-view>
